* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}
.calculator {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #0288d1;
  margin: 0 auto;
  padding-top: 150px;
}
button {
  width: 100%;
  height: 100%;
  font-size: 40px;
  cursor: pointer;
  color: #512da8;
}
input {
  width: 100%;
  height: 130%;
  padding: 6px;
  font-size: 20px;
  color: #512da8;
}
td {
  width: 150px;
  padding: 3px 0px 3px 0px;
}
